.avatarImg {
    width: 40px;
    border-radius: 25px;
}
.avatarName {
    color: #ccc;
}
.boxAvatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

@media screen and (max-width: 550px) {
    .avatarName {
        color: #090C08;
    }
}