.card {
    padding-top: 5px;
    width: 280px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    background: linear-gradient(180deg, #474056 32%, #757083 74%, #bbaec6 98%);
}

.title {
    text-align: center;
    color: #ccc;
    font-size: 25px;
}

.desc {
    text-align: center;
    color: #ccc;
    font-size: 18px;
}

.img {
    width: 260px;
}